.about-header{
    position: relative;
    height: 300px;
    background: linear-gradient(135deg, rgba(64, 140, 255, 0.7), rgba(74, 217, 187, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 2rem;
    border-bottom: 5px solid #4f93f0;
}

.about-header__content {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 10px;
}

/* .about-header h1, .about-header p{
    margin: 0;
} */

.about-header h1 {
    font-size: 4rem;
    color: white;
}


.about-header p {
    color: white;
    font-size: 1rem;
}

.about-nav__headings {
    text-decoration: none;
    color: rgba(218, 218, 218, 0.759);
    font-weight: bold;
    transition: color 0.3s ease;
}

.about-nav__headings:hover {
    color: #ff8080;
}

.about-content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .about-content p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  
  .about-list {
    list-style: disc;
    margin-left: 1.5rem;
  }
  
  .about-list li {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
  }